.main_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.exotic_column {
    display: flex;
    flex-direction: column; 
}
.exotic_armor {
    border: 2px solid;
    display: flex;
    flex-direction: row;
    padding: 10px;
}