.main_page {
   display: flex;
   flex-direction: row; 
}
.exotic_column {
    display: flex;
    flex-direction: column; 
}
.exotic_armor {
    border: 1px solid;
    display: flex;
    flex-direction: row;
}